<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active" id="learn"><a ng-href="#/learn">Learn</a></li>
    <li><a ng-href="#/create">Create</a></li>
  </ul>
  <h3 class="text-muted">flash-tastic</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="paper big-card">
        <div style="padding:5px 10px;">
          <span style="position: absolute; top:2px; left:3px; font-size:1.4em">Q: {{ (set.length + 1) }}</span>
          <span style="position: absolute; top:2px; right:3px; font-size:1.4em">Set: {{ (set.length + 1) }}</span>
          <span ng-model="question">{{question}}</span>
          <br />
          <input type="button" class="btn btn-primary" value="Flip Card" id="addBtn" style="position: absolute; bottom:3px; right:3px">
        </div>
      </div>
      <div class="col-sm-12">
        Your Flashcard Sets:
        <form>
          <ul>
            <li ng-repeat="card in cards | unique: 'setName' track by $id($index)">
              <label for="{{card.setName}}" >
              Set Name:&nbsp;{{card.setName}}
                <input type="radio"
                       ng-model="setFilter.term" 
                       ng-value="card" 
                       name="setName"  
                       ng-click="logIt()"
                       id="{{card.setName}}">
              </label>
            </li>
            <li><label>Show all<input type="radio" ng-model="setFilter.term" value=""></label></li>
          </ul>
        </form>
      </div>            
    </div>
    <div class="col-sm-5 pull-right" ui-sortable ng-model="cards" style="height: 425px; overflow: scroll">
      <div ng-repeat="card in set = (cards | filter: searchFilter) track by $id($index)" ng-click="setMain($index)" class="col-sm-12 paper2 small-card" style="cursor: pointer">
        <span style="position: absolute; top:0px; left:3px">Q: {{ ($index + 1) }}</span>
        <span>{{ card.question }}</span>
        <button class="btn btn-danger small-card-remove" ng-click="removeCard($index)" aria-label="Remove">X</button>
        <span class="edit-button" ng-click="editCard($index)">
          <b class="glyphicon glyphicon-pencil"></b>
        </span>
        <span class="move-button">
          <b class="glyphicon glyphicon-move"></b>
        </span>        
      </div>
    </div>
  </div> 
</div>
